coverage==4.4.1
coveralls==1.1
Flask==0.11.1
Flask-PageDown==0.2.2
Flask-Testing==0.6.2
Flask-WTF==0.13.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.8
MarkupSafe==0.23
pep8==1.7.0
pylint==1.7.1
pytest==3.1.2
requests==2.17.3
Werkzeug==0.11.11
WTForms==2.1